<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2 mt-5">
   
    <h3>Update a New Listing!</h3>
    <form action="/listings/<%= Listing._id %>" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value="<%= Listing.title %>">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" class="form-control" name="description" id="" cols="30" rows="5">
          <%= Listing.description %>
        </textarea>
      </div>
      <div class="mb-3">
        <label for="image"  class="form-label">Image URL/Link</label>
        <input type="text" disabled class="form-control" value="<%= Listing.image %>" name="image">
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control"  value="<%= Listing.price %>" name="price">
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" value="<%= Listing.country %>" class="form-control" name="country">
        </div> 
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" value="<%= Listing.location %>" class="form-control" name="location">
      </div>
           <button class="btn btn-dark add-btn mb-3">Update</button>
           <br><br>
    </form>
  </div>
</div>
   