<% layout('/layouts/boilerplate') -%>
<body>
    <h3>Update a New Listing!</h3>
    <form action="/listings/<%= Listing._id %>" method="post">
           <input type="text" name="title" value="<%= Listing.title %>">
           <br><br>
           <textarea type="text" name="description" id="" cols="30" rows="10">
             <%= Listing.description %>
           </textarea>
           <br><br>
           <input type="text" value="<%= Listing.image %>" name="image">
           <br><br>
           <input type="number" value="<%= Listing.price %>" name="price">
           <br><br>  
           <input type="text" value="<%= Listing.location %>" name="location">
           <br><br>
           <input type="text" value="<%= Listing.country %>" name="country">
           <br><br>
           <button>Update</button>
    </form>
</body>
